.toast-stack {
  position: fixed;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}

.toast-animate {
  opacity: 0;
  transform: translateY(-20px) scale(0.98);
  transition: opacity 0.3s, transform 0.3s;
}

.toast-animate.toast-in {
  opacity: 1;
  transform: translateY(0) scale(1);
}
